mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 32px;
}

.sign-up-link {
  font-size: 1.2rem;
  margin-left: 8px;
  padding-left: 8px;
}

.profile-image-toolbar {
  border-radius: 100%;
  margin-right: 8px;
  alignment-baseline: center;
}

