<mat-toolbar color="primary">
  Wathana web-app

  <ng-container *ngIf="auth.currentUser$ | async as user">
    <button mat-button [matMenuTriggerFor]="userMenu">
      <img
        width="40"
        height="40"
        class="profile-image-toolbar"
        [ngSrc]="user.photoURL ?? 'assets/images/dummy-user.png'" alt="photo"/>
      <span class="sarabun">
        {{user.displayName}}
      </span>

      <span>
        <mat-icon class="material-icons">expand_more</mat-icon>
      </span>
    </button>
  </ng-container>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item routerLink="/profile">
    <mat-icon>account_circle</mat-icon>
    Profile
  </button>
  <button mat-menu-item routerLink="/user-list">
    <mat-icon>list</mat-icon>
    User List
  </button>
  <button (click)="logout()" mat-menu-item>
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-menu>
